
@{
    ViewBag.Title = "ContactHome";
}

<h2>ContactHome</h2>

<table>
    <tr>
        <td>
            <a href="~/User/Register">Register</a>
        </td>
        </tr>
    <tr>
        <td>
            <a href="~/User/Search">Search</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="~/User/Edit">Edit</a>
        </td>
    </tr>
    <tr>

        <td>
            <a href="~/User/Delete">Delete</a>
        </td>
    </tr>
</table>

