
<div class="jumbotron">
    <h1>This is my first web page</h1>
    <p>This is my paragraph</p><br /><br /><br />
    <h2>This is my another paragraph</h2>
    <h1 style="background-color:DodgerBlue;">Hello World</h1>
    <a href="https:google.com">Visit google.com!</a>    
    <img src="~/Images/myImage.PNG" />" alt="image not loaded">
</div>
