
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <form action="~/User/DeleteUser">
        <table>
            <tr>
                <td>User Name&nbsp;</td>
                <td><input type="text" name="UserName" /></td>
                <td><input type="submit" value="Delete" /></td>

            </tr>
        </table>
    </form>

</div>

