@model ContactBook.Models.User


@{
    ViewBag.Title = "UserDetail";
}

<h2>UserDetail</h2>

<form action="~/User/EditUser" method="post">
    <table>
        <tr>
            <td>User Name : &nbsp; </td>
            <td><input type="text" name="UserName" value="@Model.UserName" /></td>
        </tr>

        <tr>
            <td>Gender : &nbsp; </td>
            <td>
                @{
                    if (Model.genderM == 'M')
                    {
                        <input type="radio" name="genderM" value="M" checked="checked" /><label for="genderM">M</label>
                        <input type="radio" name="genderF" value="F" /> <label for="genderF">F</label>
                    }

                    if (Model.genderF == 'F')
                    {
                        <input type="radio" name="genderM" value="M" /><label for="genderM">M</label>
                        <input type="radio" name="genderF" value="F" checked="checked" /> <label for="genderF">F</label>
                    }

                }


            </td>
        </tr>

        <tr>
            <td>Mobile Number : &nbsp; </td>
            <td><input type="text" name="MobileNumber" value="@Model.MobileNumber" /></td>
        </tr>

        <tr>
            <td>Email Id : &nbsp; </td>
            <td><input type="text" name="EmailId" value="@Model.EmailId" /></td>
        </tr>
        <tr>
            <td> </td>
            <td>

                <input type="submit" value="Edit" />
               
            </td>
        </tr>
        
    </table>
</form>

